/* Fondo general */
.login-bg {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460); */
  padding: 20px;
}

/* Tarjeta de login */
.login-card {
  width: 100%;
  max-width: 420px;
  /* background: #ffffffdd; */
  border: none;
  border-radius: 18px;
  backdrop-filter: blur(8px);
  box-shadow: 0px 10px 35px rgba(13, 87, 6, 0.438);
  animation: fadeIn 0.6s ease-in-out;
}

/* Inputs estilizados */
.input-estilizado {
  border-radius: 10px;
  padding: 12px;
  border: 1.5px solid #b5b5b5;
  transition: all 0.3s ease;
}

.input-estilizado:focus {
  border-color: #4e8cff;
  box-shadow: 0 0 0 0.2rem rgba(78, 140, 255, 0.35);
}

/* Botón Login */
.btn-login {
  background-color: #08dd59;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 1.05rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: #11a82a;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

/* Link olvide contraseña */
.link-olvide {
  color: #0071fc !important;
  font-weight: 500;
  transition: all 0.3s ease;
}

.link-olvide:hover {
  color: #033475 !important;
  text-decoration: underline;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
